.destaque{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    background-color:var(--bege) ;
    
    @media (max-width: 768px) {
        padding: var(--padding-xxl) var(--padding-3xl);
    }
}


.banner{
  display: flex;
 justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
}
}
.destaque-titulo{
    font-family: 'sigmar', sans-serif;
    color:#EE6451 ;
    font-size: 4rem;
   


    
}
.destaque-texto{
    color: #A2B72B;
}

