.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-xl);
    width: 100%;
    padding: 4rem 0;
    background-color: var(--cor-secundaria-light);
    height: auto;
    overflow: hidden; /* Adicionado para garantir que a rolagem seja removida */
}

.newsletter h2 {
   color: var(--cor-primaria-light);
   font-size: 2rem;
}

.newsletter p {
    font-size: 1.563rem;
}

.formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap-m);
    align-items: center;
}

.botao-enviar{
    padding: 0.813rem 1.5rem ;
    background-color: var(--cor-primaria-light);
    color: var(--cor-neutra-light);
    border: none;
    border-radius: 32rem;
    cursor: pointer;
    font-size:1.563rem;
}

.formulario-input{
    padding: 0.5rem 1.5rem ;
    border: 1px solid var(--cor-neutra-dark);
    border-radius: 2rem;
    background-color: transparent;
    flex: 1 0 200px;
}


.formulario-input:user-valid{
    border: 2px solid var(--cor-terciaria-dark);
}

.formulario-input:user-invalid{
    border: 2px solid var(--cor-primaria-dark);
}

.grupo-opcoes{
    display: flex;
    align-items: center;
    gap: var(--gap-s);
    flex-wrap: wrap;
}

.opcao{
display: flex;
align-items: center;
cursor: pointer;
position: relative;
padding-left: var(--padding-xl)
}

.opcao input[type="checkbox"]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.opcao input[type="checkbox"] + span{
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid var(--cor-neutra-dark);
    background-color: transparent;
    border-radius: 0.25rem;
}

.opcao input[type="checkbox"]:checked + span{
    background-color: var(--cor-primaria-dark);


}